{% extends "base.html" %}

{% block content %}
    {% for Post in Posts %} {# Posts.query.order_by("date desc").all() #}
    <div class="container">
        <div class="meta-data">
            <a href="/blog?userid={{Post.user_id}}">{{Post.user.name}}</a>
            <small>{{Post.date}}</small>
        </div>
        <h1><a href="/blog?titleid={{Post.thread_id}}">{{Post.thread.title}}</a></h1>
        <p>{{Post.text[:255]}}<a href="/blog?rmpostid={{Post.id}}"> ...more</a></p>
        <div class="container-footer">
            <a href="/blog?repplyto={{Post.id}}">Repply</a>
            <small><i>{{Post.repplies_count()}} repplies</i></small>    
        </div>
    </div>
    {% endfor %}
{% endblock %}