<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogz</title>
    
</head>
<body>
    <header>
        <div class="upper">
            <img src="/static/OS_brain_cloud-2.png" height="100" width="100">
            <h1>Blogz</h1>
            <i>"The thinking duty-free zone"</i>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">My posts</a></li>
            <li><a href="#">New post</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
    </header>

    <div class="under-header">
        <a href="#"><img src="/static/Last-.png"></a>
        <a href="#"><img src="/static/Next-.png"></a>
        <a href="#"><img src="/static/Prev-.png"></a> 
        <a href="#"><img src="/static/Fist-.png"></a>
    </div>

    <div class="margintop"></div>

    <div class="container">
        <div class="meta-data">
            <a href="#">urdans</a>
            <small> 2018-10-15</small>
        </div>
        <h1><a href="#">All about ketogenic diet</a></h1>
        <p>I was asked this question twice in the past week, by colleagues who work with our clients. It sounds like a dumb question, but it’s not.
           The short answer is that we don’t need so many languages, but we want them. Let’s explore this further.
           Aren’t they all the same?
           In a sense, yes. You can create a web site using Ruby, Java, Python, C#, Go or JavaScript. You can use C or C++ or Haskell or Rust. Or COBOL or Pascal or Perl.
           Underlying this fact is that all of these languages serve the same purpose: to turn human thoughts into the 1’s and 0’s that the computer understands. In
           highfalutin computer terms, they are all “Turing complete”.
           At their most foundational level, these languages are all the same. But on the surface – where humans interact with them – they vary a lot. This is where other
           concerns come into play.
           Different tools for different jobs
           Programming languages are tools, and we choose different tools for different jobs. A tractor trailer and a bicycle and a Tesla are all vehicles – they have
           wheels and steering and will get you from point A to point B – but obviously we use them for different things.
           Programming languages are similar. Ruby and JavaScript are great for building web sites; Java and C++ are often used for financial trading; Python and R are
           the tools of choice for analyzing statistics.
           Languages often make trade-offs in terms of convenience, safety, and speed – much like vehicles. The trade-off is dictated by the job at hand.
           Developers have tastes
           Beyond mere utility, developers choose tools based on personal tastes.
           A programming language is a tool for humans to express ideas to computers. While we developers have many things in common, there is natural variety in the way
           our minds work.
           Because we have many choices of good programming languages, we can select one that “works the way I think”. Some developers like Ruby’s flexibility, while others
           prefer Java’s strictness. Where some languages feel like math, others look like prose.
           People first
           Beyond utility, and beyond taste, businesses run on people. Often, you will choose a programming language based on what you, or the people around you, know.
           Stack Overflow chose C# mostly because that’s what our founders knew. In turn, it’s what the founders’ friends and colleagues knew. Which made recruiting easier,
           and allowed Stack to get to market more quickly.
           (Luckily, C# also happens to have excellent technical characteristics.)
           Technologies are supported by “ecosystems” – communities and organizations that provide the tools and assistance that every developer needs. A good
           ecosystem – Ruby has a great one, for example – can make the individual developer more successful.<a href="#"> ...more</a></p>
           <div class="container-footer">
                <a href="#">Repply</a>
                <small> 5 repplies</small>
            </div>           
    </div>

    <div class="container">
        <form action="/register" method="post" >
            <h1>Sign Up</h1>
            <div class="meta-data">
                <span>Please fill in this form to create an account.</span>
            </div>
            <label class="control-label" for="username"><b>User name:</b></label>
            <div class="ml-10">
                <input class="form-control" type="text" value="{{username_value}}" placeholder="Enter user name" name="username">
            </div>
            <label class="control-label" for="email"><b>Email:</b></label>
            <div class="ml-10">
                <input class="form-control" type="text" value="{{email_value}}" placeholder="Enter Email" name="email">
            </div>
            <label class="control-label" for="psw"><b>Password:</b></label>
            <div class="ml-10">
                <input class="form-control" type="password" placeholder="Enter Password" name="psw">
            </div>
            <label class="control-label" for="psw-repeat"><b>Retype Password:</b></label>
            <div class="ml-10"> 
                <input class="form-control" type="password" placeholder="Confirm password" name="repsw">
            </div>
            <div class="ml-10">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="meta-data">
            <a href="#">urdans</a>
            <small> 2018-10-15</small>
        </div>
        <h1><a href="#">All about ketogenic diet</a></h1>
        <p>I was asked this question twice in the past week, by colleagues who work with our clients. It sounds like a dumb question, but it’s not.
            The short answer is that we don’t need so many languages, but we want them. Let’s explore this further.
            Aren’t they all the same?
            In a sense, yes. You can create a web site using Ruby, Java, Python, C#, Go or JavaScript. You can use C or C++ or Haskell or Rust. Or COBOL or Pascal or Perl.
            Underlying this fact is that all of these languages serve the same purpose: to turn human thoughts into the 1’s and 0’s that the computer understands. In
            highfalutin computer terms, they are all “Turing complete”.
            At their most foundational level, these languages are all the same. But on the surface – where humans interact with them – they vary a lot. This is where other
            concerns come into play.
            Different tools for different jobs
            Programming languages are tools, and we choose different tools for different jobs. A tractor trailer and a bicycle and a Tesla are all vehicles – they have
            wheels and steering and will get you from point A to point B – but obviously we use them for different things.
            Programming languages are similar. Ruby and JavaScript are great for building web sites; Java and C++ are often used for financial trading; Python and R are
            the tools of choice for analyzing statistics.
            Languages often make trade-offs in terms of convenience, safety, and speed – much like vehicles. The trade-off is dictated by the job at hand.
            Developers have tastes
            Beyond mere utility, developers choose tools based on personal tastes.
            A programming language is a tool for humans to express ideas to computers. While we developers have many things in common, there is natural variety in the way
            our minds work.
            Because we have many choices of good programming languages, we can select one that “works the way I think”. Some developers like Ruby’s flexibility, while others
            prefer Java’s strictness. Where some languages feel like math, others look like prose.
            People first
            Beyond utility, and beyond taste, businesses run on people. Often, you will choose a programming language based on what you, or the people around you, know.
            Stack Overflow chose C# mostly because that’s what our founders knew. In turn, it’s what the founders’ friends and colleagues knew. Which made recruiting easier,
            and allowed Stack to get to market more quickly.
            (Luckily, C# also happens to have excellent technical characteristics.)
            Technologies are supported by “ecosystems” – communities and organizations that provide the tools and assistance that every developer needs. A good
            ecosystem – Ruby has a great one, for example – can make the individual developer more successful.</p>
        <div class="container-footer">
            <span>urdans</span>
            <form action="/register" method="post" >
                <div class="ml-10">
                    <textarea name="newposttext" autofocus></textarea>
                </div>
                <div class="ml-10">
                    <button type="submit" class="btn">Submit</button>
                    <button type="submit" class="btn">Cancel</button>
                </div>
            </form>                    
        </div>           
    </div>

</body>
</html>